body {
  margin: 0;
  color: #FFFFFF; }

h1 {
  font-size: 72px; }

h2 {
  font-size: 64px; }

.btn-cta {
  background-color: #FFEC27;
  color: #000000; }

input, textarea {
  border: 2px solid #A6A6A6; }
