body {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #FFFFFF;
  text-decoration: none; }

p {
  margin: 0 0 10px 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 72px;
  margin: 0;
  font-weight: 400; }

h2 {
  font-size: 64px;
  margin: 0;
  text-align: center; }

@media (max-width: 1024px) {
  h1 {
    font-size: 60px; }
  h2 {
    font-size: 50px; } }

@media (max-width: 767px) {
  h1 {
    font-size: 54px; }
  h2 {
    font-size: 46px; } }

.button {
  background-color: #FFEC27;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px 0;
  cursor: pointer;
  text-align: center;
  display: block;
  box-shadow: 0px 0px 4px #FFFFFF; }
  .button:hover {
    background-color: #f3de00; }
  @media (max-width: 1024px) {
    .button {
      padding: 14px 0;
      font-size: 18px; } }

input, textarea {
  border: 2px solid #A6A6A6;
  font-family: 'Open Sans', sans-serif; }

.main-hero {
  background-image: url("../images/backgrounds/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 25px;
  text-align: center; }
  .main-hero header {
    padding: 25px 0; }
    .main-hero header .header-logo > div {
      display: inline-block; }
    .main-hero header .header-logo .js-logo {
      margin: 0px 11px 0 14px;
      vertical-align: bottom; }
    .main-hero header .header-logo .title {
      font-size: 50px;
      font-weight: 300; }
    @media (max-width: 1024px) {
      .main-hero header .header-logo .web-burza-logo img {
        width: 146px; }
      .main-hero header .header-logo .js-logo {
        margin: 0 7px;
        position: relative;
        top: 6px; }
        .main-hero header .header-logo .js-logo img {
          width: 37px; }
      .main-hero header .header-logo .title {
        font-size: 34px; } }
    @media (max-width: 767px) {
      .main-hero header .header-logo .web-burza-logo img {
        width: 106px; }
      .main-hero header .header-logo .js-logo {
        margin: 0 5px;
        vertical-align: middle;
        position: inherit; }
        .main-hero header .header-logo .js-logo img {
          width: 26px; }
      .main-hero header .header-logo .title {
        font-size: 25px; } }
  .main-hero .hero {
    padding: 100px 0 53px; }
    @media (max-width: 767px) {
      .main-hero .hero {
        padding: 44px 0 50px; } }
    .main-hero .hero h1 {
      font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
      letter-spacing: 2.3px; }
      .main-hero .hero h1 img {
        vertical-align: middle;
        margin: 0 8px 0 15px;
        position: relative;
        bottom: 11px; }
        @media (max-width: 1024px) {
          .main-hero .hero h1 img {
            width: 84px;
            margin: 0 6px; } }
        @media (max-width: 767px) {
          .main-hero .hero h1 img {
            width: 70px;
            margin: 6px auto;
            display: block;
            position: inherit; } }
    .main-hero .hero .intro-text {
      max-width: 588px;
      margin: 56px auto 46px;
      font-size: 18px; }
    .main-hero .hero .button {
      width: 364px;
      margin: auto; }
      @media (max-width: 767px) {
        .main-hero .hero .button {
          width: 100%; } }

nav {
  background-color: #000000;
  z-index: 1; }
  nav ul {
    max-width: 1224px;
    margin: 0 auto;
    padding: 15px 25px 18px;
    display: flex;
    justify-content: space-between; }
    nav ul a {
      font-size: 36px; }
  @media (max-width: 1024px) {
    nav ul {
      padding: 22px; }
      nav ul a {
        font-size: 28px; } }
  @media (max-width: 767px) {
    nav ul {
      padding: 26px; }
      nav ul a {
        font-size: 22px; } }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.nav-container {
  height: 82px; }

#developers {
  background-image: url("../images/backgrounds/dev-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 25px; }
  #developers .dev-content {
    max-width: 1180px;
    margin: 16px auto 0; }
    #developers .dev-content .dev-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;
      margin-bottom: 20px; }
      #developers .dev-content .dev-list .developer {
        width: 50%;
        max-width: 562px;
        margin-bottom: 40px; }
        #developers .dev-content .dev-list .developer .dev-inner {
          display: flex; }
          #developers .dev-content .dev-list .developer .dev-inner .dev-img img {
            border-radius: 50px; }
          #developers .dev-content .dev-list .developer .dev-inner .dev-data {
            margin: 0 20px; }
            #developers .dev-content .dev-list .developer .dev-inner .dev-data .dev-name {
              font-size: 18px;
              font-weight: 700; }
        @media (max-width: 767px) {
          #developers .dev-content .dev-list .developer {
            width: 100%;
            max-width: initial; }
            #developers .dev-content .dev-list .developer .dev-inner {
              display: block; }
              #developers .dev-content .dev-list .developer .dev-inner .dev-data, #developers .dev-content .dev-list .developer .dev-inner .dev-img {
                margin: 0;
                text-align: center; }
              #developers .dev-content .dev-list .developer .dev-inner .dev-name {
                margin-top: 10px; } }

#join {
  background-image: url("../images/backgrounds/form-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 25px; }
  #join .contact-form {
    max-width: 502px;
    margin: 35px auto 63px; }
    #join .contact-form h2 {
      position: relative; }
      #join .contact-form h2 span::before, #join .contact-form h2 span::after {
        position: absolute;
        content: '';
        width: 116px;
        height: 116px;
        background: url("../images/decorations/sace.svg") no-repeat;
        top: -10px; }
        @media (max-width: 767px) {
          #join .contact-form h2 span::before, #join .contact-form h2 span::after {
            opacity: 0.2; } }
      #join .contact-form h2 span::before {
        left: 0; }
      #join .contact-form h2 span::after {
        right: 0; }
    #join .contact-form form {
      margin-top: 57px; }
      #join .contact-form form input, #join .contact-form form textarea {
        width: 100%;
        margin-bottom: 28px;
        font-size: 16px;
        padding: 18px;
        box-sizing: border-box;
        display: block; }
        #join .contact-form form input::placeholder, #join .contact-form form textarea::placeholder {
          color: #878787;
          text-align: center; }
      #join .contact-form form textarea {
        min-height: 202px; }
      #join .contact-form form textarea::-ms-input-placeholder, #join .contact-form form input::-ms-input-placeholder {
        text-align: center; }
      #join .contact-form form textarea::-moz-placeholder, #join .contact-form form input::-moz-placeholder {
        text-align: center; }
      #join .contact-form form .button {
        width: 100%; }
    #join .contact-form #feedback {
      margin-top: 20px;
      text-align: center; }

footer {
  padding: 30px 25px;
  background-color: #000000;
  text-align: center; }
  footer .copyright {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px; }
  @media (max-width: 1024px) {
    footer img {
      width: 117px; } }
  @media (max-width: 767px) {
    footer img {
      width: 87px; } }
